.content {
    width: 90vw;
    margin: 0 auto;
    margin-top: 35px;

    .categoryTitle {
        font-weight: 400;
        text-transform: capitalize;
        width: 90vw;
        margin: 0 auto;
    }
    
    .productsContainer {
        display: flex;
        margin: 65px auto 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}
