.content {
    margin-top: 35px;

    .categoryTitle {
        font-weight: 300;
        text-transform: capitalize;
        width: 90vw;
        margin: 0 auto;
    }
    
    .productsContainer {
        display: flex;
        width: 94vw;
        margin: 65px auto 0 auto;
        flex-wrap: wrap;
    }

}
