@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@import "./components/Navbar/navbar";
@import "./components/DisplayProducts/displayProducts";
@import "./components/ProductCard/productCard";
@import "./components/SingleProduct/singleProduct";
@import "./components/Attributes/attributes";
@import "./components/Gallery/gallery";
@import "./components/Cart/cart";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #1D1F22;
}

// #root {
//   width: 90vw;
//   margin: 0 auto;
// }