@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 65px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .leftDiv,
.header .midDiv,
.header .rightDiv {
  width: 33%;
  text-align: center;
}

.header a {
  text-decoration: none;
  color: #1D1F22;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header .leftDiv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .leftDiv ul li {
  margin: 3px 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.header .leftDiv ul li a {
  padding-bottom: 20px;
}

.header .leftDiv ul li a:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}

.header .midDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .rightDiv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .rightDiv ul li {
  display: block;
}

.header .rightDiv ul li select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  cursor: default;
  padding: 5px 10px 5px 8px;
  border-radius: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 9px;
  background-color: #fff;
  color: #333;
}

.header .rightDiv ul li a {
  display: block;
  position: relative;
}

.header .rightDiv ul li a img {
  width: 25px;
  height: 25px;
}

.header .rightDiv ul li a span {
  position: absolute;
  top: -9px;
  background: #000;
  display: block;
  right: -11px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  width: 22px;
  height: 23px;
  font-size: 17px;
  padding-bottom: 0px;
}

.header .rightDiv ul li.navCartLi {
  position: relative;
}

.header .rightDiv ul li.navCartLi .navCart {
  width: 400px;
  position: absolute;
  top: 25px;
  right: 0;
}

.header .rightDiv ul li.navCartLi .navCart #Cart {
  width: 100%;
  text-align: left;
  background-color: white;
  padding: 5px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartHeading {
  font-size: 20px;
  margin-bottom: 15px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .cartProductHeading {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .priceTag {
  margin: 10px 0;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .priceTag span {
  font-size: 16px;
  font-weight: 500;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .attributeContainer {
  margin-top: 5px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .attributeContainer .attributeHeading {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .attributeContainer .attributeSelection .textAttribute {
  padding: 5px;
  min-width: 0;
  font-size: 13px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductSelection .attributeContainer .attributeSelection .swatchAttribute {
  padding: 0;
  margin: 0 3px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductCount button {
  width: 20px;
  height: auto;
  font-size: 14px;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductCount .count span {
  font-size: 20px;
  font-weight: 500;
}

.header .rightDiv ul li.navCartLi .navCart #Cart .cartProduct .cartProductImage .imagePositionContainer {
  width: 100px;
  height: auto;
}

.content {
  width: 90vw;
  margin: 0 auto;
  margin-top: 35px;
}

.content .categoryTitle {
  font-weight: 400;
  text-transform: capitalize;
  width: 90vw;
  margin: 0 auto;
}

.content .productsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 65px auto 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCard {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.productCard:hover {
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.productCard a {
  text-decoration: none;
}

.productCard .imgContainer {
  width: 386px;
  height: 444px;
  overflow: hidden;
}

.productCard .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}

.productCard .productName {
  font-size: 1.1em;
  font-weight: 300;
  color: #8D8F9A;
}

.productCard .priceTag {
  font-weight: 600;
  font-size: 1.1em;
  color: #1D1F22;
}

.singleProductContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90vw;
  margin: 0 auto;
}

.singleProductContainer .producImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.singleProductContainer .producImages .thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.singleProductContainer .producImages .thumbnails img {
  width: 100%;
  cursor: pointer;
}

.singleProductContainer .producImages .largeImage {
  max-height: 75vh;
  margin: 0px 35px;
  width: 100%;
}

.singleProductContainer .producImages .largeImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: left top;
     object-position: left top;
}

.singleProductContainer .productDiscription {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  width: 30%;
}

.singleProductContainer .productDiscription h1, .singleProductContainer .productDiscription h2 {
  margin: 10px 0;
  font-size: 30px;
  line-height: 30px;
}

.singleProductContainer .productDiscription h1 {
  font-weight: 600;
}

.singleProductContainer .productDiscription h2 {
  font-weight: 400;
}

.singleProductContainer .productDiscription .priceTag {
  margin: 25px 0px;
}

.singleProductContainer .productDiscription .priceTag h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

.singleProductContainer .productDiscription .priceTag span {
  font-weight: 700;
  font-size: 20px;
}

.singleProductContainer .productDiscription .buttonContainer .addToCartButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 292px;
  border: 0;
  padding: 10px 64px;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5ECE7B;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.singleProductContainer .productDiscription .buttonContainer .addToCartButton:hover {
  background-color: #5ece7cc1;
}

.singleProductContainer .productDiscription .description {
  font-weight: 400;
  color: #1D1F22;
  line-height: 25px;
}

.attributeContainer {
  margin-top: 25px;
}

.attributeContainer .attributeHeading {
  font-weight: 700;
  font-size: 18px;
}

.attributeContainer .attributeHeading {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

.attributeContainer .textAttribute {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  min-width: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.attributeContainer .textAttribute:hover {
  background-color: #000;
  color: #fff;
}

.attributeContainer .textAttribute.selected {
  background-color: #000;
  color: #fff;
}

.attributeContainer .swatchAttribute {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid white;
  text-align: center;
  min-width: 15px;
  min-height: 15px;
  cursor: pointer;
  font-size: 0px;
}

.attributeContainer .swatchAttribute:hover {
  background-color: #000;
  color: #fff;
}

.attributeContainer .swatchAttribute.selected {
  outline: 2px solid #5ECE7B;
}

.producImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.producImages .thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.producImages .thumbnails img {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.producImages .thumbnails img:first-of-type {
  margin-top: 0;
}

.producImages .largeImage {
  max-height: 75vh;
  margin: 0px 35px;
  width: 100%;
}

.producImages .largeImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: left top;
     object-position: left top;
}

.cartHeading {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.cartProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0px;
  gap: 10px;
}

.cartProduct:first-of-type {
  border-top: 1px solid #E5E5E5;
}

.cartProduct .cartProductSelection {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.cartProduct .cartProductSelection h2.cartProductHeading, .cartProduct .cartProductSelection h3.cartProductHeading {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 10px 0px;
}

.cartProduct .cartProductSelection h3.cartProductHeading {
  font-weight: 400;
}

.cartProduct .cartProductSelection .priceTag {
  margin: 25px 0px;
}

.cartProduct .cartProductSelection .priceTag h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

.cartProduct .cartProductSelection .priceTag span {
  font-weight: 700;
  font-size: 20px;
}

.cartProduct .cartProductCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cartProduct .cartProductCount .count {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartProduct .cartProductCount .count span {
  font-weight: 500;
  font-size: 24px;
}

.cartProduct .cartProductCount button {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.cartProduct .cartProductCount button:hover {
  background-color: #f3f3f3;
}

.cartProduct .cartProductImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartProduct .cartProductImage .imagePositionContainer {
  width: 200px;
  height: 288px;
}

.cartProduct .cartProductImage .imagePositionContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.paymentTotals {
  margin-top: 15px;
}

.paymentTotals span {
  display: block;
  margin: 5px 0;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 100%;
}

.buttonContainer .greenButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  padding: 10px 60px;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5ECE7B;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.buttonContainer .greenButton:hover {
  background-color: #5ece7cc1;
}

.buttonContainer .whiteButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  border: 1px solid #000;
  padding: 10px 60px;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}

.buttonContainer .whiteButton:hover {
  background-color: #000;
  color: #fff;
}

.bagHeading {
  font-weight: 500;
  font-size: 18px;
}

.bagHeading .small {
  font-weight: 400;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #1D1F22;
}
/*# sourceMappingURL=index.css.map */