.singleProductContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    margin: 0 auto;

    .producImages {
        display: flex;
        width: 60%;

        .thumbnails {
            display: flex;
            width: 85px;
            flex-direction: column;
    
            img {
                width: 100%;
                cursor: pointer;
            }
        }
    
        .largeImage {
            max-height: 75vh;
            // overflow: hidden;
            margin: 0px 35px;
            width: 100%;
    
            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                object-fit: scale-down;
                object-position: left top;
            }
        }
    }

    .productDiscription{
        align-self: flex-start;
        margin-left: 30px;
        width: 30%;

        h1,h2 {
            margin: 10px 0;
            font-size: 30px;
            line-height: 30px;
        }
        h1 {
            font-weight: 600;

        }
        h2 {
            font-weight: 400;
        }

        .priceTag {
            margin: 25px 0px;
            h3 {
                font-size: 16px;
                line-height: 18px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
        
                margin: 5px 0;
            }

            span {
                font-weight: 700;
                font-size: 20px;
            }
        }

        .buttonContainer {
            .addToCartButton {
                display: flex;
                width: 292px;
                border: 0;
                padding: 10px 64px;
                margin: 15px 0;
                align-items: center;
                justify-content: center;
                background-color: #5ECE7B;

                cursor: pointer;

                color: white;
                text-transform: uppercase;

                &:hover {
                    background-color: #5ece7cc1;
                }
            }
        }

        .description {
            font-weight: 400;
            color: #1D1F22;
            line-height: 25px;
        }
    }
}